<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Sobre o Projeto</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
            <a href="/contact">Contato</a>
        </nav>
    </header>
    <section>
        <h2>Sobre:</h2>
        <p>Este é um exemplo básico de como utilizar o Flask para renderizar templates HTML.</p>
        <p>Esta página foi criada por Pedro Augusto da Luz Mota - GES135</p>
    </section>
</body>
</html>